@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) { 
  html {
    scroll-padding-top: 95px; 
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gradient-bg {

  background: linear-gradient(-45deg, #6A44FF, #1A1A2E, #16213E, #5838d4);


  background-size: 400% 400%;


  animation: moveGradient 8s ease infinite;
}


@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .text-shadow-strong {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  }
}